@media (max-width: 576px) { /* Bootstrap's mobile breakpoint */
    .lead{
        font-size: 0.9rem; /* Adjust the size as needed */
    }
    .heading-home-1{
        font-size: 1.3rem; /* Adjust the size as needed */
    }
    .button-home-1{
        font-size: 1rem; /* Adjust the size as needed */
    }
    .heading-home-2{
        font-size: 1rem; /* Adjust the size as needed */
        margin-bottom: 5%;
        margin-top:5%;
    }
    /* .card-img-top{
        height:10%;
        width:50%
    } */

    .scrollable-section {
        max-height: unset;
        overflow-y: unset;
        overflow-x: auto;
        white-space: nowrap;
      }

      .scroll-container {
        display: flex;
        flex-direction: row;
      }

      .scroll-container .card {
        display: inline-block;
        min-width: 80vw;
        margin-right: 1rem;
        white-space: normal;
      }
      .overlay-text {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust for centering */
        color: white; /* Text color */
        font-weight: bold;
        font-size: 1.5rem; /* Adjust font size as needed */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow for better visibility */
      }
      .home-slogan {
        width: 100%; /* Full width */
        height: 20vh; /* Height of 10vh */
        object-fit: cover; /* Crop the image to fit */
      }
      .logo {
        max-height: 40px;
      }

  }

  @media (min-width: 577px){
    .logo {
      max-height: 80px;
      width: auto;
    }

    .nav-link {
      font-size: 1.3rem; /* Adjust the font size as needed */
      font-weight: 500;  /* Optional: Makes the text slightly bolder */
    } 

    .lead{
      font-size: 1.5rem; /* Adjust the size as needed */
  }
  .heading-home-1{
    font-size: 3rem; /* Adjust the size as needed */
  }
    .heading-home-2{
        font-size: 1.5rem; /* Adjust the size as needed */
        margin-bottom: 10vh;
        margin-top:10vh;
    }
    .scrollable-section {
        display: flex;
        flex-direction: column;
      }
    
      .scroll-container {
        display: flex;
        flex-direction: column;
      }
      .overlay-text {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust for centering */
        color: white; /* Text color */
        font-weight: bold;
        font-size: 4rem; /* Adjust font size as needed */
        text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.7); /* Optional shadow for better visibility */
        
      }
      .home-slogan {
        width: 100%; /* Full width */
        height: 40vh; /* Height of 10vh */
        object-fit: cover; /* Crop the image to fit */
      }
  }

  .bg-flowing {
    position: relative;
    overflow: hidden;
    background: linear-gradient(270deg, #00a2ff, #2aacf7, #4fbbfa, #0870ad);
    background-size: 400% 400%;
    animation: gradientFlow 30s ease infinite;
  }
  

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes moveBackground {
    0% { background-position: center top; }
    50% { background-position: center -100px; }
    100% { background-position: center top; }
  }
  
  


  .slogan-container {
    position: relative;
    text-align: center;
  }


  .custom-container {
    max-width: 90%;
    margin: 0 auto;
  }
  